* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: inline-block;
    padding: 12px 24px;
    border: 2px dashed #333;
    border-radius: 6px;
    color: white;
    font-size: xx-large;
    cursor: pointer;
}

.block {
    background-color: grey;
    width: 500px;
    height: 500px;
    padding: 15px 15px;
}

.btn {
    background-color: blue;
    border: 5px solid rgb(136, 136, 236);
    border-radius: 15px;
    width: 100px;
    height: 50px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover {
    font-size: 20px;
    border: 5px solid rgb(136, 136, 236);
}

.drop {
    /* display: flex; */
    background-color: antiquewhite;
    padding: 20px;
    /* flex-direction: column; */
}

.border-text {
    border: 1px solid #333;
    margin-top: 20px;
    transition-property: height;
    transition-duration: 2s;
    overflow: hidden;
    /* transition: height 1s linear;
    height: 0; */
}

.border-text .show {
    height: 122px;
    transition: height 1s linear;
}

.text-drop {
    color: #333;
    font-size: 20px;
    padding: 10px;
    align-items: center;
}